body{
   
    font-family: sans-serif;
    line-height: 1.4;
     border:2px solid black;
   
}

.title{
    text-align: center;
    font-size: 20px;
    background-color: #f7f7f7;

}

.price{
    font-size:24px;
}

.shopping{
    font-size:12px;
    text-transform: uppercase;
    font-weight: bold;
    color:gray;
}

